
*.user
*.suo
x64/
Debug/
Release/
build/
out/
.vs/
.vscode/
CMakeCache.txt
CMakeFiles/
vcpkg_installed/
vcpkg/

*.exe
*.dll
*.obj
*.pdb
*.lib
build/
out/
.vs/
.vscode/
CMakeCache.txt
CMakeFiles/

vcpkg_installed/
vcpkg/

*.exe
*.dll
*.obj
*.pdb
*.lib